body {
  background-color: #c3bcaa;
  overflow: scroll;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and(max-width:500px) {
  .posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
